@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 50px;
    background: linear-gradient(100deg, #220e3f, #263167);
}

header > p {
    font-family: "Bowlby One SC";
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: white;
}

.jobPosition {
    font-family: "Luckiest Guy";
    font-weight: 400;
    font-size: 10em;
    line-height: 0.8em;
    color: white;
}

#linkedin {
    margin-left: 20px;
    background: url(./assets/react.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#github {
    background: url(./assets/java.png);
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
}
#three {
    background: url(./assets/three.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.social {
    margin-right: 0px;
    display: inline-block;
    height: 100px;
    width: 100px;
}
main {
    display: grid;
    width: 100vw;
    align-items: center;
    grid-template-columns: 1fr 6fr 1fr;
    padding: 75px;
}

.project {
    display: grid;
    grid-template-columns: 2.5fr 2fr;
    height: 550px;
    width: 100%;
    border: 1px solid #263167;
    border-radius: 15px;
    /*background: url(./assets/table.png) ;
    background-size: contain;
    background-position: bottom center;*/
}

.monitor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    width: 450px;
    height: 271px;
    background: url(./assets/monitor.png) no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.webpage {
    position: relative;
    top: 11.4px;
    left: 10px;
    width: 95.45%;
    height: 92%;
}

.info2 {
    padding: 50px;
    /*background-color: green;*/
}

/*.coffee {
    position: relative;
    background: white url(./assets/coffee.png) no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    top: 15px;
    transform: translate(-50px, 0px);
    width: 23.5%;
    height: 25%;
    z-index: 2;
}*/

.paper {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    width: 90%;
    height: 100%;
    padding: 25px;
    border: 1px solid #263167;
    text-transform: uppercase;
    text-align: justify;
}

.paper h2 {
    text-align: center;
    margin-bottom: 1em;
}

.arrowContainer {
    text-align: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.material-symbols-outlined {
    display: none !important;
    text-align: center;
    color: black;
    font-size: 6em !important;
    background-color: #263167;
    border-radius: 300px;
    color: white;

    
}

.material-symbols-outlined:hover {
    background-color: #220e3f;
    color:antiquewhite;
    cursor: pointer;
}

#arrowRight {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
